/*****GOOGLE FONT*****
* - Antonio Medium 
* - Spartan Bold
* - SPartan Regular
*/
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap");

h1 {
  font-family: "Antonio", sans-serif;
  font-size: 80px;
  line-height: 103px;
}
h2 {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
}
h3 {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}
body {
  background-color: var(--dark-blue);
}
/*****Variables*****/
:root {
  --white: #ffffff;
  --dark-blue: #070724;
  --gray: #38384f;
  --light-gray: #838391;
  --blue: #2d68f0;
  --light-blue: #419ebb;
  --red: #d83a34;
  --light-red: #d14c32;
  --orange: #cd5120;
  --yellow: #eda249;
  --purple: #6f2ed6;
  --green: #1ec2a4;
}

/*****Global Style*****/
* {
  outline: none;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  font-family: "Space Mono", monospace;
  color: var(--gray);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*:hover {
  transition: all 0.2s ease 0s;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
ul,
nav {
  list-style: none;
  padding-left: 0;
}
